/* Global selector */

* {
  margin: 0;
  padding: 0;
}

/* Menu item container styling */

.container {
  position: absolute;
  padding: 20px 10px;
  margin: 10px 10px;
  right: 0;
  display: flex;
  column-gap: 1rem;
}

/* Toggle menu item container */

.container.active {
  right: 1rem;
}

/* menu item styling */

.container .menu {
  display: flex;
  column-gap: 1rem;
  list-style: none;
  text-decoration: none;
}

.container .menu li {
  text-decoration: none;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: grey;
}

.container .menu li a {
  text-decoration: none;
}

.container .menu li a .menu {
  margin-top: 44px;
}

.container .menu li .name {
  padding: 8px 8px;
  background: rgb(36, 160, 36);
  border-radius: 50%;
  color: white;
  font-size: 12px;
}
.container .menu li .bxs-grid {
  font-size: 22px;
  margin-left: 5px;
  color: black;
  padding: 8px 8px;
  margin-top: -11px;
  border-radius: 50%;
}
.container .menu li .img {
  color: grey;
}
.container .menu li .img:hover {
  list-style: armenian;
}
.container .menu li .bxs-grid:hover {
  background: rgb(204, 199, 199);
}

/* Flex option component styling at to right of screen */

.options {
  padding: 1px 1px;
  margin: 1px 1px;
  row-gap: 1rem;
}

.options {
  padding: 1px 1px;
  column-gap: 0.65rem;
}

.options .options-container li {
  column-gap: 0.1rem;
  row-gap: 0.1rem;
  margin: 3px 3px;
  font-size: 21px;
  padding: 19px 19px;
  border-radius: 5%;
}

.options .options-container li:hover {
  background: rgb(216, 216, 216);
}

.options .options-container .data li .google h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .YouTube h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .meta h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .twitter h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .facebook h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .mongo h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .snapchat h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .venmo h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .xing h6 {
  margin-top: 13px;
  color: black;
  font-family: myFont;
}

.options .options-container .data li .tiktok h6 {
  margin-top: 13px;
  color: black;
  font-family: "Sofia", sans-serif;
}

.options .options-container .data li .google a {
  text-align: center;
  padding: 8px 13px;
  border-radius: 5px;
  color: blue;
}

.options .options-container .data li .YouTube a {
  text-align: center;
  padding: 4px 9px;
  border-radius: 5px;
  color: red;
}

.options .options-container .data li .meta {
  text-align: center;
  padding: 8px 13px;
  border-radius: 5px;
  color: aqua;
}

.options .options-container .data li .xing a {
  text-align: center;
  padding: 8px 13px;
  border-radius: 5px;
  color: brown;
}

.options .options-container .data li .venmo a {
  text-align: center;
  padding: 8px 13px;
  border-radius: 5px;
  color: coral;
}

.options .options-container .data li .twitter a {
  text-align: center;
  padding: 4px 9px;
  border-radius: 5px;
  color: blue;
}

.options .options-container .data li .snapchat a {
  text-align: center;
  padding: 8px 13px;
  border-radius: 5px;
  color: yellow;
}
.options .options-container .data li .mongo a {
  text-align: center;
  padding: 8px 13px;
  border-radius: 5px;
  color: green;
}

.options .options-container .data li .tiktok a {
  text-align: center;
  padding: 8px 13px;
  border-radius: 5px;
  color: black;
}

.options .options-container {
  position: absolute;
  margin: 0 12px;
  font-size: 27px;
  right: 101%;
  margin-top: 70px;
  margin-right: 5px;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 5px 5px;
  background: white;
  border: 2px rgb(44, 44, 44) solid;
  border-radius: 5%;
  transition: ease-in-out 2%;
  border: 1px solid rgb(54, 54, 54);
  box-shadow: -3px -3px 3px 3px rgba(192, 192, 192, 0.74);
}
.options .options-container .bxl-google {
  color: rgb(90, 26, 207);
}
.options .options-container .bx-map {
  color: green;
}
.options .options-container.active {
  right: 1rem;
  transition: 0.002s ease-in-out;
}
.options .options-container .data {
  display: flex;
}
.options .options-container .data li {
  margin: 30px 10px;
}
.options .options-container .data li {
  list-style: none;
  text-decoration: none;
}
.options .options-container .data .account {
  text-decoration: none;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
  background: rgb(36, 160, 36);
  color: white;
}
.options .options-container .data .account span {
  background: none;
}

/* LOGO DISPLAY */

.logo {
  font-family: myfont;
}

.logo {
  align-items: center;
  text-align: center;
  margin-top: 200px;
  row-gap: 2rem;
}
.logo .search-box {
  margin-top: 30px;
  display: inline-flex;
  border-left: none;
  border-right: none;
}
.logo h2 {
  font-family: myfont;
  font-size: 80px;
}
.logo h2 .G {
  color: rgb(62, 161, 201);
}
.logo h2 .o1 {
  color: rgb(224, 46, 46);
}
.logo h2 .o {
  color: rgb(236, 236, 62);
}
.logo h2 .g {
  color: rgb(146, 156, 243);
}
.logo h2 .l {
  color: rgb(57, 228, 57);
}
.logo h2 .e {
  color: rgb(224, 46, 46);
}

/* Font family source */

@font-face {
  font-family: myfont;
  src: url(FONT-STYLES/Product-Sans-Bold-Italic.ttf);
}

/* Search box styling */

.search-box input {
  width: 450px;
  height: 50px;
}

.search-box {
  color: 2px solid red;
}

.logo .search-box .srch::placeholder {
  font-size: 16px;
}
.logo .search-box .srch:focus {
  border: none;
}
.logo .search-box .search-btn {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-right: transparent;
  background: none;
  margin-left: -60px;
}
.logo .search-box .srch {
  width: 450px;
  height: 50px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding-left: 33px;
  padding-right: 33px;

}
.logo.search.srch:focus {
  border: black;
  outline: none;
}

.logo .search-box .mic {
  width: 50px;
  height: 50px;

  border: 1px solid black;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-left: none;
  background: none;
  margin-right: -60px;
  font-size: 20px;
  color: red;
}
.logo .search-box .mic:focus {
  outline: none;
}
.logo .search-box .bx-search {
  font-size: 20px;
  color: grey;
}
.logo .search-box .bxs-microphone {
  color: blue;
}

/* Recent Display Items stylinbg */

.socials {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 120px;
  padding: 5px 140;
  padding-right: 130px;
  justify-content: center;
  z-index: 10;
  left: 50%;
  cursor: pointer;
}

.socials .socials-container {
  text-align: center;
  margin-left: 34px;
  margin-top: 35px;
  height: 100px;
  padding-top: 18px;
  width: 110px;
  border-radius: 5%;
}

.socials .socials-container .bx-dots-vertical-rounded {
  display: none;
}

.socials
  .socials-container:hover.socials
  .socials-container
  .bx-dots-vertical-rounded {
  display: block;
  margin-top: 32px;
}

.socials .socials-container:hover {
  background: rgb(199, 197, 197);
}

.socials .socials-container .bxl-youtube {
  font-size: 26px;
  color: red;
  padding: 10px 10px;
  border-radius: 50%;
  background: rgb(255, 244, 244);
}

.socials .socials-container h3 {
  margin-top: 17px;
  font-weight: lighter;
  font-family: myfont;
  font-size: 16px;
}

.socials .socials-container .bxl-github {
  color: black;
  font-size: 26px;
  padding: 10px 10px;
  border-radius: 50%;
  background: rgb(255, 244, 244);
}

.socials .socials-container .bxl-facebook-circle {
  color: rgb(66, 66, 250);
  font-size: 26px;
  padding: 10px 10px;
  border-radius: 50%;
  background: rgb(255, 244, 244);
}

.socials .socials-container .bxl-whatsapp {
  color: lightgreen;
  font-size: 26px;
  padding: 10px 10px;
  border-radius: 50%;
  background: rgb(255, 244, 244);
}

/* Styling for digital clock */

.time {
  font-family: myFont;
  color: black;
  font-weight: lighter;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px;
  margin: 30px 30px;
  font: 30px;
}
/* .weather-app{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2233;
} */

/* Styling for weather App */

body {
  background: linear-gradient(to right, #667db6);
  font-family: sans-serif;
}

/* Weather view option */

.weather-view{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-link{
  color: rgb(56, 55, 55);
  font-family: myFont;
  font-weight: lighter;
  font-size: 20px;
}

.weather-app {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.363);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: 1s ease-in-out;
}

.notification {
  color: black;
  position: absolute;
  left: 0;
  background-color: rgb(218, 134, 134);
  width: 100%;
  align-items: center;
  font-size: 1.6rem;
}

.weather-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-title {
  font-size: 3rem;
  font-family: myfont;
}

.weather-container {
  font-size: 2.8rem;
  background-color: white;
  padding: 2rem 5rem;
  place-items: center;
  align-items: center;
  border-radius: 3px;
  border-radius: 2rem;
  z-index: 234;
  text-align: center;
}

.cancel-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 23;
  cursor: pointer;
}

.weather-container-icon {
  font-size: 5rem;
  text-align: center;
}

/* Background toggle theme */

.theme-toggle{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
}


.theme-btn{
  padding: .8rem .8rem;
  border-radius: .9rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: myFont;

  
}

/* Media queries for responsive design */

@media screen and (max-width:1124px){

  .search-box{
    max-width: 16rem;
  }

  .time{
    display: absolute;
    top: -1rem;
  }

  .options{
    max-width: 4rem;
  }

  .weather-app{
    padding: 2rem 2rem;
    object-fit: contain;
    place-items: center;
  }

  .weather-wrapper {
    position: absolute;
    display: grid;
    justify-content: center;
    place-items: center;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
  }

}

@media screen and (max-width:452px){

  .weather-container {
    font-size: 1.9rem;
    background-color: white;
    padding: 1rem 3rem;
    place-items: center;
    align-items: center;
    border-radius: 3px;
    border-radius: 2rem;
    z-index: 234;
    text-align: center;
  }

  .notification {
    color: black;
    position: absolute;
    left: 0;
    background-color: rgb(218, 134, 134);
    width: 100%;
    align-items: center;
    font-size: 1.1rem;
  }

}

@media screen and (max-width:358px){

  .time{
    display: none;
  }

  .search-box{
    max-width: 10rem;
  }

  .socials{
    display: none;
  }

}


